<!DOCTYPE html>
<html>
<head>
    <title>Family Hotel - Menu</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Our Menu</h1>
    <form method="POST" action="/menu">
        <ul>
            {% for item in menu_items %}
            <li>
                <input type="checkbox" name="menu_item" value="{{ item.name }}">
                {{ item.name }} - {{ item.price }}
            </li>
            {% endfor %}
        </ul>
        <button type="submit">Submit</button>
    </form>
    <a href="/">Back to Home</a>
</body>
</html>

